# Запрещаем ВСЁ
*

# Разрешаем файлы с расширением .c
!*.c
!*.h

# Разрешаем Makefile (точное имя)
!Makefile

# (Опционально) разрешаем .gitignore сам себя, если нужно
!.gitignore
# Разрешаем директории (иначе Git не сможет "войти" в них для поиска .c) 
!*/